<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.github.ni554n.bpn"
  >

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:fullBackupContent="@xml/cloud_backup_rules"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Main"
    tools:ignore="UnusedAttribute"
    >
    <activity
      android:name=".ui.MainActivity"
      android:exported="true"
      android:windowSoftInputMode="adjustResize"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!--  This receiver is initially disabled because it is controlled by the PowerEventListenerService  -->
    <receiver
      android:name=".BootEventReceiver"
      android:enabled="false"
      android:exported="true"
      >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".event.receivers.BatteryEventReceivers"
      android:exported="false"
      />

    <service
      android:name=".event.BatteryEventReceiversRegisterService"
      android:exported="false"
      />
  </application>

</manifest>
